@model SecureApp.Models.Mitarbeiter

<h1>Neuen Mitarbeiter erfassen</h1>

<form asp-action="Create" method="post" style="width:500px;">
    @Html.AntiForgeryToken()

    <div class="mb-3">
        <input asp-for="Vorname" class="form-control" placeholder="Vorname" />
        <span asp-validation-for="Vorname" class="text-danger"></span>
    </div>

    <div class="mb-2">
        <input asp-for="Nachname" class="form-control" placeholder="Nachname" />
        <span asp-validation-for="Nachname" class="text-danger"></span>
    </div>

    <div class="mb-2">
        <input asp-for="Strasse" class="form-control" placeholder="Strasse" />
    </div>

    <div class="mb-2">
        <input asp-for="Nr" class="form-control" placeholder="Nummer" />
    </div>

    <div class="mb-2">
        <input asp-for="PLZ" class="form-control" placeholder="PLZ" />
        <span asp-validation-for="PLZ" class="text-danger"></span>
    </div>

    <div class="mb-2">
        <input asp-for="Ort" class="form-control" placeholder="Ort" />
    </div>

    <div class="mb-2">
        <input asp-for="Land" class="form-control" placeholder="Land" />
    </div>

    <div class="mb-2">
        <input asp-for="Email" class="form-control" placeholder="Mail" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="mb-2">
        <input asp-for="Telefon" class="form-control" placeholder="Telefon" />
        <span asp-validation-for="Telefon" class="text-danger"></span>
    </div>

    <div class="mb-2">
        <input asp-for="Funktion" class="form-control" placeholder="Funktion" />
    </div>

    <div class="mb-2">
        <input asp-for="Passwort" class="form-control" type="password" placeholder="Passwort" />
        <span asp-validation-for="Passwort" class="text-danger"></span>
    </div>

    <div class="mb-2">
        <input asp-for="PasswortBestätigung" class="form-control" type="password" placeholder="Passwort wiederholen" />
        <span asp-validation-for="PasswortBestätigung" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Speichern</button>    
    <a asp-action="Index" class="btn btn-secondary">Zurück</a>
    

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
