@model SecureApp.Models.Mitarbeiter

<h1>Mitarbeiter bearbeiten</h1>
@Html.ValidationSummary(false, "", new { @class = "text-danger" })


<form asp-action="Edit" asp-route-id="@Model.Id" method="post">
    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="Id" />

    <div>
        <label asp-for="Vorname"></label>
        <input asp-for="Vorname" class="form-control" />
        <span asp-validation-for="Vorname" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Nachname"></label>
        <input asp-for="Nachname" class="form-control" />
        <span asp-validation-for="Nachname" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Strasse"></label>
        <input asp-for="Strasse" class="form-control" />
    </div>

    <div>
        <label asp-for="Nr"></label>
        <input asp-for="Nr" class="form-control" />
    </div>

    <div>
        <label asp-for="PLZ"></label>
        <input asp-for="PLZ" class="form-control" />
        <span asp-validation-for="PLZ" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Ort"></label>
        <input asp-for="Ort" class="form-control" />
    </div>

    <div>
        <label asp-for="Land"></label>
        <input asp-for="Land" class="form-control" />
    </div>

    <div>
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Telefon"></label>
        <input asp-for="Telefon" class="form-control" />
        <span asp-validation-for="Telefon" class="text-danger"></span>
    </div>

    <div>
        <label asp-for="Funktion"></label>
        <input asp-for="Funktion" class="form-control" />
    </div>

    <br />

    <button type="submit" class="btn btn-primary">Speichern</button>
    <a asp-action="Index" class="btn btn-secondary">Zurück</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
